<!doctype html>
<html lang="{{ site.Language.Lang }}"{{ with site.Params.enableDarkMode }} class="dark"{{ end }}>
<head>
  {{- partial "head" . }}
  <link rel="stylesheet" href="/css/prestd.css">
</head>
<body class="page-{{ .Kind }}" id="pagetop">
  <header class="nav_header">
    {{- partial "nav" . }}
  </header>
  <div class="main wrap pt-4">
    {{- partial "document" . }}
  </div>
  {{- partialCached "footer" . -}}
  {{- partialCached "sprites" . -}}
  {{- partialCached "scripts/bundle" . -}}
  {{- partial "scripts/other" . -}}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105743002-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-105743002-1');
  </script>
</body>
</html>
